@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    @apply appearance-none; /* Tailwind CSS */
    margin: 0;
  }

  .no-arrows {
    @apply appearance-none; /* Para Firefox */
  }
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Robout";
  src: url("assets/fonts/Robout-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Robout";
  src: url("assets/fonts/Robout-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Thin.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Book.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Heavy.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url("assets/fonts/CooperHewitt-Semibold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mangiola";
  src: url("assets/fonts/Mangiola-Italic-BF64701b1cba905.otf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mangiola";
  src: url("assets/fonts/Mangiola-SemiBold-BF64701b1c3ab22.otf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src: url("assets/fonts/Archivo_Condensed-Light\ 2.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("assets/fonts/Mosk\ Light\ 300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mosk";
  src: url("assets/fonts/Mosk\ Medium\ 500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Cooper", sans-serif;
  line-height: normal;
}

body {
  background-color: #fff8ea;
}

/* Header styles */

.active {
  position: relative;
}

.active::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #363a3d;
  height: 2px;
}

.header-item {
  position: relative;
}

.header-item::after {
  content: "";
  width: 0%;
  opacity: 0;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #363a3d;
  height: 2px;
  transition: all 0.2s ease-in;
}

.header-item:hover::after {
  width: 100%;
  opacity: 1;
}

/*Mover Recaptcha a la izquierda*/
.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: -2px !important;
  bottom: 20px !important;
}
.grecaptcha-badge:hover {
  width: 256px !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px; /* $buttonWidth + 20px */
  height: 120px; /* $buttonHeight + 20px */
  margin-top: 100px;
  perspective: 1800px;
  margin-left: auto;
}

.button .qube {
  position: relative;
  height: 50px; /* $buttonHeight */
  width: 50px; /* $buttonWidth */
  perspective: 1800px;
}

.button .qubetwo {
  position: relative;
  height: 50px; /* $buttonHeight */
  width: 120px; /* $buttonWidth */
  perspective: 1800px;
}

.button .qube .front,
.button .qube .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
  transition: transform 0.3s ease;
  color: white;
  line-height: 50px; /* $buttonHeight */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button .qube .front {
  background-color: #f55548;
}

.button .qube .front::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button .qube .back {
  background-color: #fff8ea; /* Reemplaza $pear */
  color: black;
  border: 1px solid #f55548;
  transform: rotateX(0deg) translateZ(50px); /* $buttonHeight */
}

.button .qube:hover .front {
  transform: rotateX(0deg) translateZ(25px); /* $buttonHeight / 2 */
}

.button .qube:hover .back {
  transform: rotateX(90deg) translateZ(25px); /* $buttonHeight / 2 */
}

.button:active .front {
  border-radius: 0;
  background-color: transparent;
  color: black;
}

.button:active .front::after {
  left: 120%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.robout {
  font-family: "Robout", sans-serif;
}

.SpaceGrotesk {
  font-family: "SpaceGrotesk", sans-serif;
}

.mangiola {
  font-family: "Mangiola", sans-serif;
}

.mosk {
  font-family: "Mosk", sans-serif;
  font-style: normal;
}

.archivo-condensed {
  font-family: "Archivo", sans-serif;
  font-style: normal;
}

/* Swiper custom styles */

.swiper {
  width: 100%;
  height: 100%;
}

.homeSwiper {
  padding-bottom: 32px !important;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: absolute !important;
  bottom: 0px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: fit-content !important;
  height: fit-content;
  z-index: 10 !important;
}

.swiper-pagination-bullet {
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6 !important;
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #454545 !important;
  border: 1px solid #454545;
}

/* end of Swiper custom styles */

/* custom styles for material ui accordion */

.accordion-rounded {
  border-radius: 0px !important;
  background-color: #fff8ea !important;
  box-shadow: none !important;
  height: fit-content;
}

.accordion-rounded::before {
  height: 0px !important;
}

.accordion-rounded .MuiAccordionSummary-content {
  margin: 0 !important;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0 !important;
}

/* end of custom styles for material ui accordion */

.member::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  background-color: transparent;
  border-top: 1px solid black;
}

.member::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

/* Animations for homeSwiper */

.slide-up {
  animation: slide-up 1s ease-in-out;
  opacity: 1;
}

@keyframes slide-up {
  0% {
    bottom: -50%;
  }

  50% {
    opacity: 0.3;
    bottom: -20%;
  }

  100% {
    opacity: 0.7;
    bottom: 32px;
  }
}

.bg-noise-new {
  background-image: url("/digital/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* End of Animations for homeSwiper */

.slide-down {
  animation: slide-down 0.5s ease-in-out;
  opacity: 1;
}

@keyframes slide-down {
  0% {
    top: -50%;
    opacity: 0.9;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

@media screen and (max-width: 1023px) {
  .swiper-pagination-bullet {
    width: 9px !important;
    height: 9px !important;
  }

  .active::after {
    background-color: white;
    height: 0;
  }
}

.bg-svg-noise::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 700 700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%' y='-20%' width='140%' height='140%' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='turbulence' baseFrequency='0.2' numOctaves='4' seed='15' stitchTiles='stitch' x='0%' y='0%' width='100%' height='100%' result='turbulence' /%3E%3CfeSpecularLighting surfaceScale='6' specularConstant='1.2' specularExponent='20' lighting-color='%237c7c7c' x='0%' y='0%' width='100%' height='100%' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='161' /%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%' y='0%' width='100%' height='100%' in='specularLighting' result='colormatrix' /%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent' /%3E%3Crect width='700' height='700' fill='%237c7c7c' filter='url(%23nnnoise-filter)' /%3E%3C/svg%3E");
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
  pointer-events: none;
}

@layer utilities {
  .text-outline {
    color: transparent;
    background-color: transparent;
    -webkit-text-stroke: 2px #23194f;
  }
}

@layer utilities {
  .text-rainbow {
    background: repeating-linear-gradient(
      300deg,
      #f55548 0%,
      #23194f 14.28%,
      #f55548 28.56%,
      #23194f 42.84%,
      #f55548 57.12%,
      #23194f 71.4%,
      #f55548 85.68%,
      #23194f 100%
    );

    background-size: 700% 100%; /* Tamaño horizontal igual al número de colores */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-glow 10s linear infinite;
  }

  .text-outline {
    color: transparent;
  }

  @keyframes rainbow-glow {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
}
